* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #d0d0d0;
}

/*---------------------------transicion para suavizar el scroll al cambio de secciones*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1A1C20;
  /*Efecto de puntos para brackground*/
  padding: 0;
  margin: 0;
  background-image: radial-gradient(#9f9f9f32 1.2px, transparent 1.2px);
  background-size: 30px 30px;
}

body .pageProject {
  width: 100vw;
  height: 100vh;
}

main {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilos de iluminacion puntero*/
.shadow-pointer {
  pointer-events: none;
  background: radial-gradient(circle at center, rgb(215, 244, 246) 5%, transparent 80%, rgb(0, 0, 0) 100%, transparent 100%);
  border-radius: 100%;
  position: fixed;
  width: 1000px;
  height: 1000px;
  left: var(--mouse-x);
  top: var(--mouse-y);
  transform: translate(-50%, -50%);
  opacity: 4%;
  z-index: -999;
}

.separador-section {
  width: 100vw;
}

/* -------------------------------------------Inicio estilo de la Seccion Header*/
.container-fixed-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: #0A0B0C;
  padding: 10px 0;
  z-index: 99999;
}

.inner-container-header {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.inner-container-header .container-logo {
  cursor: pointer;
}

.inner-container-header .container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container-header .container-nav {
  margin-right: 30px;
}

.menu-nav a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

.menu-nav a::after {
  content: '';
  margin-bottom: -5px;
  position: absolute;
  width: 100%;
  height: 1px;
  /* Grosor de la línea */
  bottom: -1px;
  /* Colocar la línea justo debajo del texto */
  left: 0;
  background-color: #00ace0;
  /* Color de la línea */
  transform: scaleX(0);
  /* Inicialmente la línea no es visible */
  transform-origin: center;
  transition: transform 0.3s ease;
  /* Agregar transición suave al efecto */
}

/* Cambiar el ancho de la línea en estado de hover */
.menu-nav a:hover::after {
  transform: scaleX(1);
}

.inner-container-header .container-accesibilidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container-header .cambio-idioma {
  font-size: 18px;
  font-weight: bolder;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 7px;
  width: 62px;
  height: 46px;
  margin-left: 20px;
}

.inner-container-header .cambio-idioma:hover {
  background-color: #242529;
}

/* -----------------------------Inicio estilo de la Seccion Sobre Mi*/
.section-sobreMi {
  width: 100vw;
  height: auto;
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9D9D9;
  box-sizing: border-box;
}

.section-sobreMi .inner-content-sobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: auto;
  flex-direction: row;
  box-sizing: border-box;
}

.inner-content-sobreMi .info-presentacion {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 10PX;
}

/* Estilos para el h1 con efectos degradado */
.inner-content-sobreMi .gradient-text {
  font-size: 52px;
  font-weight: 500;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #e73c7e, #00C1FE, #23d5ab, #775DF7);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-content-sobreMi .gradient-text-h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #e73c7e, #00C1FE, #23d5ab, #775DF7);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fluido {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

/* Estilos para el texto con efecto de parpadeo */
.inner-content-sobreMi .blinking-text {
  -webkit-text-fill-color: rgb(54, 210, 241);
  font-size: 40px;
  font-weight: bolder;
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.inner-content-sobreMi h3 {
  font-size: 25px;
  margin-top: 20px;
  font-style: italic;
}

.inner-content-sobreMi .presentacion {
  margin-top: 20px
}

.inner-content-sobreMi .btn-resumen {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background-color: #1516187f;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 30px;
}

.inner-content-sobreMi .btn-resumen:hover {
  background-color: #151618;
}

.inner-content-sobreMi .redes-sociales {
  margin-top: 25px;
}

.inner-content-sobreMi .redes-sociales svg {
  padding: 8px;
  fill: #d0d0d0;
}

.inner-content-sobreMi .redes-sociales svg:hover {
  fill: #ffffff;
}

.inner-content-sobreMi .fotoPerfil {
  padding: 20px;
}

.inner-content-sobreMi .fotoPerfil img {
  width: 350px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 50px;
}

.inner-content-sobreMi .retangule {
  position: absolute;
  width: 349px;
  height: 435px;
  border-radius: 15px;
  border: 1.2px solid #00ace0;
  margin-left: -15px;
  margin-top: -468px;
  box-sizing: border-box;
}

/* ------------------------------------------Inicio de la seccion principal main projects*/
.section-projects {
  width: 100vw;
  height: auto;
  padding: 110px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #D9D9D9;
  box-sizing: border-box;
}

.inner-container-projects {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-projets {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%;
  max-height: 200px;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.banner-projets img {
  width: 100%;
}

.container-projects {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 25px;
}

.project {
  text-decoration: none;
  max-width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 30px;
  background-color: #1516187f;
}
.project:hover {
  background-color: #111213;
}

.project-link{
  text-decoration: none;
}

.img-project {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%;
  max-height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}

.img-project img {
  width: 100%;
}

.project-link h2 {
  padding: 20px 20px 0 20px;
}
.project-link p {
  padding: 20px;
}

.tecnology-project {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}
.tecnology-project svg{
  width: 30px;
  height: 30px;
  color: #d0d0d0;
}
.repo-link{
  width: 100%;
  padding-left: 20px;
  text-decoration: none;
  box-sizing: border-box;
}
.text-to-underline{
  font-weight: 600;
  color: #00ace0;
  text-decoration: underline;
}
.btn-verMas {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 30px;
  background-color: #1516187f;
}

.btn-verMas:hover {
  background-color: #151618;
}

/* -------------------------------------Inicio de la Seccion de bloggin*/
.section-bloggin {
  width: 100vw;
  height: auto;
  padding: 130px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9D9D9;
  box-sizing: border-box;
  flex-direction: column;
}

.section-bloggin .inner-container-bloggin {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-bloggin .banner-bloggin img {
  width: 100%;
  border-radius: 15px;
}

.section-bloggin .entradas-bloggin {
  width: 60vw;
  height: auto;
  margin-top: 80px;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: auto auto;
  color: #D9D9D9;
  background-color: #1516187f;
}

.section-bloggin .entradas-bloggin .entrada-blog:hover {
  background-color: #151618;
}

.section-bloggin .entradas-bloggin .entrada-blog {
  width: auto;
  height: auto;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  overflow: hidden;
}

.entradas-bloggin .blog-link {
  text-decoration: none;
}

.entradas-bloggin .entrada-blog img {
  width: 100%;
  height: 150px;
}

.entradas-bloggin .entrada-blog .info-bloggin {
  box-sizing: border-box;
  padding: 30px;
}

.inner-container-bloggin .btn-verMas {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background-color: #1516187f;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.inner-container-bloggin .btn-verMas:hover {
  background-color: #151618;
}

/*--------------------------- section principal contacto*/
.section-contacto {
  width: 100vw;
  height: auto;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9D9D9;
  box-sizing: border-box;
  flex-direction: column;
}

.section-contacto .inner-container-contact {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.inner-container-contact textarea {
  resize: none;
  font-size: 16px;
  background-color: #1A1C20;
  border: 1.2px solid #00ace0;
  color: #D9D9D9;
  border-radius: 15px;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding: 15px;
}

.inner-container-contact textarea:hover {
  background-color: #151618;
}

.inner-container-contact h1 {
  font-size: 40px;
  font-weight: 600;
  color: #00ace0;
}

.inner-container-contact .btn-enviar {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.inner-container-contact .btn-enviar:hover {
  background-color: #151618;
}

/*-------------------------- section de footer*/
.footer {
  background-color: #0A0B0C;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
}

.footer .info-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65vw;
  font-weight: 600;
}