body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1A1C20;
}

/* -------------------------------------------Inicio estilo de la Seccion Main Header*/
header {
    width:100%;
    height: 120px;
    left: 382px;
    background-color: #0A0B0C;
}
header div .logo-diego {
    width: 200px;
    cursor: pointer;
    font-size: 20px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%; 
	max-width:1138px; 
	margin:auto;
    overflow: hidden;
    padding: .5em;
}
header .menu-nav{
    margin-left: 180px;
}
header div .menu-accesibilidad {
    display: flex;
    gap: 30px;
    align-items: center;
    line-height:100px;
}
header div .menu-accesibilidad .btn-es {
    color: #fff;
    background: none;
    border: 1.2px solid #00ace0;
    border-radius: 10px;
    padding: 20px;
}
header div .menu-accesibilidad .btn-en {
    color: #fff;
    background: none;
    border: none;
}
header div .menu-accesibilidad .icon-mood-lithg {
    margin-top: 5px;
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
    font-size: 18px;
	font-weight:500px;
    line-height: 21.09px;
}
header div .icon-mood-lithg {
    margin-top: 30px;
}

/* -----------------------------Inicio estilo de la Seccion Main presentacion*/

.main-section {
    height: 645.79px;
    padding: 80px 150px;
    display:flex ;
    justify-content: center;
    align-items: flex-start;
    color: #D9D9D9;
}
section .main-info{
    display: flex;
    flex-direction: column;
    width: 650px;
    padding-right: 50px;
    margin-top: -30px;
    box-sizing: border-box;
}
section .btn-resumen{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    background: none;
    border: 1.2px solid #00ace0;
    border-radius: 15px;
    width: 350px;
    height: 66px;
}
section .btn-resumen:hover{
    background-color: #151618;
  }
section .redes-sociales svg{
    padding-top: 40px;
    padding-right: 20px;
}
section .redes-sociales svg:hover{
    stroke: #176dc2;
    stroke-width: 1.8px;
}
section .main-fotoPerfil .retangule-1 {
    position: absolute;
    width: 465px;
    height: 549px;
    border-radius: 15px;
    border: 1.2px solid #91CEE1;
    margin-left: -25px;
    margin-top: -570px;
}
section .foto-perfil {
    width: 460px;
    height: 560px;
    border-radius: 15px;
    margin-bottom: 38px;
}
section .main-info h1{
    margin-top: 20px;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    animation: fluido 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #e73c7e, #00C1FE, #23d5ab, #775DF7);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .main-info p{
    font-size: 22px;
}
section .main-info .presentacion{
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 22px;
}
  @keyframes fluido {
      0% { background-position: 0 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0 50% }
  }
.shadow-pointer{
    pointer-events: none;
	background: radial-gradient(circle at center, rgb(255, 255, 255) 20%,transparent 50%, rgb(0, 0, 0) 100%, transparent 100%);
	border-radius: 50%;
	position: fixed;
	width: 1500px;
	height: 1500px;
	left: var(--mouse-x);
	top: var(--mouse-y);
	transform: translate(-50%, -50%);
	opacity: 4%;
    z-index: -999;
}

/* ------------------------------------------Inicio de la seccion principal main projects*/
.main-section-projects{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .banner-projets{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
section .banner-projets img{
    width: 1200px;
    height: 300px;
    border-radius: 15px;
}
section .main-project{
    width: 1088px;
    height: 300px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1.2px solid #00ace0;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
section .main-project:hover{
    background-color: #151719;
}
section .main-project .info-project {
    color: #fff;
    padding: 50px;
}
section .main-project .img-project img {
    width: 400px;
    height: 350px;
}
section .main-project .tecnology-project {
    padding-top: 30px;
}
section .main-project .tecnology-project img{
    padding-right: 30px;
}
section .btn-verMas{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    background: none;
    border: 1.2px solid #00ace0;
    border-radius: 15px;
    width: 350px;
    height: 66px;
    margin-top: 50px;
    margin-bottom: 100px;
}
section .btn-verMas:hover{
    background-color: #151618;
}

 /* -------------------------------------Inicio de la Seccion de bloggin*/ 
.main-section-bloggin{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .banner-bloggin img{
    margin-top: 30px;
    width: 1200px;
    height: 300px;
    border-radius: 15px;
}
.main-section-bloggin .entradas-bloggin {
    width: 1088px;
    margin-top: 80px;
    grid-gap: 60px;
    display: grid;
    grid-template-columns: auto auto;
    color: #D9D9D9;
}
.main-section-bloggin .entradas-bloggin .entrada-blog:hover {
    background-color: #151618;
}
.main-section-bloggin .entradas-bloggin .entrada-blog{
    width: auto;
    height: auto;
    border: 1.2px solid #00ace0;
    border-radius: 15px;
    overflow: hidden;
    /* box-sizing: content-box;
    display: flex;
    flex-wrap: wrap; */
}
.entradas-bloggin .entrada-blog img{
    width: 550px;
    height: 200px;
}
.entradas-bloggin .entrada-blog .info-bloggin{
    box-sizing: border-box;
    padding: 30px;
}

/*--------------------------- section principal contacto*/
.main-contacto{
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-contacto .text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
 .main-contacto textarea{
    resize: none;
    font-size: 16px;
    background-color: #1A1C20;
    border: 1.2px solid #00ace0;
    color: #D9D9D9;
    border-radius: 20px;
    width: 1088px;
    height: 242px;
    padding: 30px;
    overflow: hidden;
}
.main-contacto textarea:hover{
    background-color: #0f0f10;
}
.main-contacto .text-area h1{
    font-size: 70px;
    color: #00ace0;
}
.main-contacto .btn-enviar{
    background-color: #00C1FE;
    color:#ffffff;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    border-style: none;
    margin-bottom: 50px;
}
.main-contacto .redes-sociales-contact{
    margin-bottom: 50px;
}
.main-contacto .redes-sociales-contact svg{
    padding: 10px;
    fill: #D9D9D9;
}

/*-------------------------- section de footer*/
.footer{
    background-color: #0A0B0C;
    width: auto;
    height: 90px;
    display: flex;
    justify-content: center;
}
.footer .info-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    color: #D9D9D9;
    font-weight: bolder;
}

