* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #d0d0d0;
}

/*---------------------------transicion para suavizar el scroll al cambio de secciones*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1A1C20;
}

main {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .container-project{
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Estilos de iluminacion puntero*/
.shadow-pointer {
  pointer-events: none;
  background: radial-gradient(circle at center, rgb(215, 244, 246) 5%, transparent 80%, rgb(0, 0, 0) 100%, transparent 100%);
  border-radius: 100%;
  position: fixed;
  width: 1000px;
  height: 1000px;
  left: var(--mouse-x);
  top: var(--mouse-y);
  transform: translate(-50%, -50%);
  opacity: 4%;
  z-index: -999;
}

.separador-section{
  width: 100vw;
}

/* -------------------------------------------Inicio estilo de la Seccion Header*/
.container-fixed-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0A0B0C;
  padding: 10px 0;
  z-index: 99999;
}

.inner-container-header {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: center;
}

.inner-container-header .container-logo {
  cursor: pointer;
}

.inner-container-header .container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container-header .container-nav {
  margin-right: 30px;
}

.inner-container-header .container-nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

.inner-container-header .container-accesibilidad {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-container-header .cambio-idioma{
  font-size: 18px;
  font-weight: bolder;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 7px;
  width: 62px;
  height: 46px;
  margin-left: 20px;
}


/* -----------------------------Inicio estilo de la Seccion Sobre Mi*/
.section-sobreMi {
  width: 100vw;
  height: auto;
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #D9D9D9;
  box-sizing: border-box;
}

.section-sobreMi .inner-content-sobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: auto;
  flex-direction: row;
  box-sizing: border-box;
}

.section-sobreMi .info-presentacion {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 10PX;
}

.section-sobreMi .fotoPerfil {
  padding: 20px;
}

.section-sobreMi .fotoPerfil img {
  width: 350px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 50px;
}

.section-sobreMi .retangule {
  position: absolute;
  width: 349px;
  height: 435px;
  border-radius: 15px;
  border: 1.2px solid #00ace0;
  margin-left: -15px;
  margin-top: -468px;
  box-sizing: border-box;
}

.section-sobreMi .btn-resumen {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 300px;
  height: 60px;
  margin-top: 30px;
}

.section-sobreMi .btn-resumen:hover {
  background-color: #151618;
}

.section-sobreMi .redes-sociales {
  margin-top: 30px;
}

.section-sobreMi .redes-sociales svg {
  padding: 3px;
  fill: #d0d0d0;
}

.section-sobreMi .redes-sociales svg:hover {
  fill: #ffffff;
}

/* Estilos para el h1 con efectos degradado */
.gradient-text {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #e73c7e, #00C1FE, #23d5ab, #775DF7);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fluido {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

/* Estilos para el texto con efecto de parpadeo */
.blinking-text {
  -webkit-text-fill-color: rgb(54, 210, 241);
  font-size: 40px;
  font-weight: bolder;
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.section-sobreMi .presentacion {
  margin-top: 20px
}

/* ------------------------------------------Inicio de la seccion principal main projects*/
.section-projects {
  width: 100vw;
  height: auto;
  padding: 130px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #D9D9D9;
  box-sizing: border-box;
}

.section-projects .inner-container-projects {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-projects .banner-projets img {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.section-projects .container-projects {
  margin-top: 30px;
}

.container-projects .project {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 60vw;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 30px
}

.section-projects .project:hover {
  background-color: #151618;
}
.container-projects .project-link{
  text-decoration: none;
}

.section-projects .info-project {
  padding: 30px;
}

.section-projects .project .img-project {
  box-sizing: border-box;
  overflow: hidden;
}

.section-projects .tecnology-project {
  padding-top: 20px;
}

.section-projects .info-project p {
  padding-top: 20px;
}

.section-projects .btn-verMas {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.section-projects .btn-verMas:hover {
  background-color: #151618;
}

/* -------------------------------------Inicio de la Seccion de bloggin*/
.section-bloggin {
  width: 100vw;
  height: auto;
  padding: 130px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9D9D9;
  box-sizing: border-box;
  flex-direction: column;
}

.section-bloggin .inner-container-bloggin {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-bloggin .banner-bloggin img {
  width: 100%;
  border-radius: 15px;
}

.section-bloggin .entradas-bloggin {
  width: 60vw;
  height: auto;
  margin-top: 80px;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: auto auto;
  color: #D9D9D9;
}

.section-bloggin .entradas-bloggin .entrada-blog:hover {
  background-color: #151618;
}

.section-bloggin .entradas-bloggin .entrada-blog {
  width: auto;
  height: auto;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  overflow: hidden;
}

.entradas-bloggin .entrada-blog img {
  width: 100%;
  height: 150px;
}

.entradas-bloggin .entrada-blog .info-bloggin {
  box-sizing: border-box;
  padding: 30px;
}

.inner-container-bloggin .btn-verMas {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.inner-container-bloggin .btn-verMas:hover {
  background-color: #151618;
}

/*--------------------------- section principal contacto*/
.section-contacto {
  width: 100vw;
  height: auto;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9D9D9;
  box-sizing: border-box;
  flex-direction: column;
}

.section-contacto .inner-container-contact {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.inner-container-contact textarea {
  resize: none;
  font-size: 16px;
  background-color: #1A1C20;
  border: 1.2px solid #00ace0;
  color: #D9D9D9;
  border-radius: 15px;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding: 15px;
}

.inner-container-contact textarea:hover {
  background-color: #151618;
}

.inner-container-contact h1 {
  font-size: 40px;
  font-weight: 600;
  color: #00ace0;
}

.inner-container-contact .btn-enviar {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background: none;
  border: 1.2px solid #00ace0;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.inner-container-contact .btn-enviar:hover {
  background-color: #151618;
}
/*-------------------------- section de footer*/
.footer {
  background-color: #0A0B0C;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
}

.footer .info-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  font-weight: bold;
}