/* :root{
    --backgroundDark: #1a1c20;
    --backgroundLigth: #ffffff;
    --color-titulos
    --color-subtitulos
    --color-parrafos
    --color-lineas
    --
} */
*{
    padding: 0%;
    margin: 0%;
    color: #aaaaaa;

    /* @import url('https://fonts.googleapis.com/css2? family= Fira+Code:wght@400;700 & display=swap');
    font-family: 'Fira Code', monospace; */

    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
    font-family: 'Noto Sans Mono', monospace;
    letter-spacing: 1.8px;
}
body{
    width: 100%;
    height: 100vh;
    position:relative;
    background: #1a1c20;
    overflow-x:hidden;
    overflow-y:hidden;
}
.page-trabajo{
    width: 100%;
    height: 100vh;
    position:relative;
    background: #1a1c20;
    overflow-x:hidden;
    overflow-y:hidden;
}
#logo-preloader {
    width: 100%;
    height: 100vh;
    position:relative;
    text-align:center;
    z-index: 10;
  }
#logo-preloader img {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
main{
    display:grid;
    grid-template-columns: auto 10%;
    justify-content: space-around;
    width: 100%;
    height:  100%;
}
.main-page-trabajo{
    display:grid;
    grid-template-columns: auto;
    justify-content: space-around;
    width: 100%;
    height:  100%;
}

/* ----------------------------------------- Stylos Header*/
header{
    /* background-color: #09112B; */
    background-color: #0a0b0c;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-content: center;
    padding: 0px 150px 0px 150px; 
    box-sizing: border-box;
    align-items: center;
    justify-items: end;
}
.header-page-trabajo{
    background-color: #0a0b0c;
}
header div{
    justify-self: start;
}
header div .header-img-logo{
    width: 145px;
    cursor: pointer;
}

/* ----------------------------------------- Stylos de link Border */
header .link-border ul {
    margin-top: 10px;
    list-style: none;
	display: inline-flex;
    gap: 45px;
    font-size: 16px;
    align-items: center;
    
}
/* ----------------------------------------- Stylos de efecto link Border */
/* .link-border a {
	font-weight: 500;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
    text-decoration: none;
}
.link-border a:hover,
.link-border a:focus {
	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);
}
.link-border a::before {
	position: absolute;
	top: -8px;
	left: -8px;
	box-sizing: content-box;
	padding: 5px;
	width: 100%;
	height: 25px;
	border: 1px solid #3DAFD3;
    border-radius: 5px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
}
.link-border a:hover::before,
.link-border a:focus::before {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
} */

.link-border ul li a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 1.8px;
    padding-bottom: 5px;
	overflow: hidden;
	text-transform: uppercase;
}

.link-border ul li a:before {
	content: '';
	width: 100%;
	height: 1.5px;
	position: absolute;
	bottom: 0;
	left: calc(-101%);
	background:#3DAFD3;
	transition: 0.3s ease-in-out;
}

.link-border ul li a:hover:before {
	left: 0;
}


header .header-icon-sun{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 25px;
    width: 29px;
    height: 29px; 
    cursor: pointer; 
    margin-right: 50px;
}
header .header-change-idioma{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-change-idioma button{
    color: #cccccf;
    background: none;
    border-style: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 25px;
    padding: 12px 15px;
 }
 .header-change-idioma .button-spain{
    border: 1.5px solid #3DAFD3;
    border-radius: 5px;
    font-weight: bolder;
 }
/* ----------------------------------------- Stylos main social media*/
 main .main-section-social-media{
    width: 40px;
    display: flex;
    align-items: flex-end;
    bottom: 0px;
    right: 70px;
    left: auto;
    z-index: 1;
}
main .tyled-Social-List{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    z-index: 1;
}
main .tyled-Social-List li {
    display: list-item;
    z-index: 1;
}
main .tyled-Social-List a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: white;
    position: relative;
    z-index: 1;
}

/* ----------------------------------------- Stylos main Info*/
main .main-section-info{
   display: flex;
   flex-direction: column;
   justify-content: flex-start ;
   padding: 100px 150px ;
}
/* ----------------------------------------- Adnimacion H1 Stylos main Info*/
main .main-section-info h1{
    font-size: 60px;
    animation: fluido 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  @keyframes fluido {
      0% { background-position: 0 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0 50% }
  }

main .main-section-info p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 30px 0;
    padding-right: 200px;
}
main .main-section-info span{
    color: #c1c1c1;
    border-bottom: 1px solid #23a6d5;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.main-section-info button{
    color: #c1c1c1;
    font-size: 24px;
    font-weight: bolder;
    height: 75px;
    width: 380px;
    background: none;
    border:1.5px solid #3DAFD3;
    border-radius: 5px;
    margin-top: 45px;
    cursor: pointer;
} 
.boton-resumen:hover{
    background-color: #1e2023;
  }
main .retangule-1{
    width: 60px;
    height: 60px;
    background-color: #3DAFD3;
    opacity: 0.8;
    border-radius: 3px;
    display: flex;
    position: relative;
    left: 360px;
    bottom: 25px;
}
main .retangule-2{
    width: 30px;
    height: 30px;
    background-color: #e73c7e;
    opacity: 0.8;
    border-radius: 3px;
    display: flex;
    position: relative;
    left: 410px;
    bottom: 40px;
}
/*--------------------------------------------------Stilos pagina trabajo*/
.parent {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    /* horizontal centering */
    justify-items: center;
    /* vertical centering */
    align-items: center;

}

.child {
  background: #212226;
  width: 900px;
  height: 80%;
  padding: 1rem;
  border-radius: 10px;
 }